html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#root {
  height: 100%;
}


.editorWrapper {
  height: 500px;
  border: 1px solid gray;
  border-radius: 3px;
  flex-grow: 1;
  padding: 10px;

}

.toolBar {
  height: 60px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.button{
  border: 1px solid black;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-color:white;
  margin: 5px;
  overFlow: hidden
}

.activeButton{
  background-color: gray
}

.editorContent{
  outline: none;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 16px
}

.synonymwrapper{
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid blue;
  border-radius: 3px;
}

synonymwrapper ul li {
  list-style: none
}